.App {
  text-align: center;
  #quote-box{
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    color:black;
    #author{
      text-align: end;
      font-family: "Raleway", sans-serif;
      font-size: 20px;
     
    }
    .button{
      border-radius: 12px;
        #tweet-quote{
        float:left;
        padding:10px;
        text-decoration: none;
        border-radius: 10px;
      }
    }
    
    #new-quote{
      float:right;
      color:white;
      border-radius: 10px;
      padding: 10px;
      border: none;
      cursor:pointer;
    }
    #text{
      font-family: "Raleway", sans-serif;
      font-weight:540;
    }
    
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
